* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

//variables
$color-azul: #2B2B3E;
$color-amarillo: #E49E48;
$color-cielo: #00ABE3;


//inicio del menu
.menu {
    background-color: transparent;
    height: 7em;



    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: flex-start;

        button {
            margin: 3em 5em;
            padding: 10px 35px 10px 35px;
            border-radius: 15px;
            border-style: none;
            background: rgb(228, 158, 72);
            background: linear-gradient(268deg, (rgb(234, 144, 82)) 0%, rgba(0, 171, 227, 1) 100%);

            span {
                color: #fff;
                font-weight: 500;
                font-size: 17px;
            }

            &:hover {
                background: white;
                transition: all 1s;
            }
        }
    }

    li {
        align-items: center;
        margin-right: 20px;


        img {
            height: 8em;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            transition: color 0.3s;

            &:hover {
                color: #00fff7;
            }
        }
    }
}

// fin del menu

//
//inicio de la seccion principal

.seccion-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 42em;
    margin-top: -7em;
    background-image: url("../images/fondoBRI.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.columna-texto {
    flex: 1;
    max-width: 50%;
    text-align: justify;
    padding-left: 7em;

    h2 {
        font-size: 28px;
        margin-bottom: 10px;
        color: #fff;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #fff;
    }

    button {
        margin: 3em 0em;
        padding: 10px 35px 10px 35px;
        border-radius: 15px;
        border-style: none;
        background: rgb(228, 158, 72);
        background: linear-gradient(268deg, (rgb(234, 144, 82)) 0%, rgba(0, 171, 227, 1) 100%);

        a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.columna-imagen {
    flex: 1;
    max-width: 50%;
    height: 28em;
    position: absolute;
    right: 3em;

    img {
        height: 27em;
        border-radius: 33px;
        opacity: 0;
    }



    /* Imagen referente al eslogan */
}


//fin de la seccion principal
//

//
//Inicios de estilos del footer
.footer {
    position: relative;
    bottom: 0;
    background-color: $color-azul;
    color: #fff;
    width: 100%;
    padding-top: 20px;

    .section-container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        .section1 {
            img {
                height: 12em;
            }
        }

        .section {
            flex: 1;
            max-width: 300px;

            h3 {
                font-size: 18px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
            }

            .section2 {
                gap: 24px;
                padding-top: 2em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 18px;
                    letter-spacing: 1px;
                }
            }

            .section3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2em;
                gap: 15px;

                h3 {
                    font-size: 25px;
                }

                p {
                    font-size: 16px;
                    letter-spacing: 1px;
                }
            }

            .social-icons {
                font-size: 24px; // Ajusta el tamaño de los iconos según tus preferencias
                margin-bottom: 10px;

                i {
                    margin-right: 10px; // Espacio entre los iconos
                }

            }
        }


    }

    .copyright {
        background-color: $color-amarillo;
        text-align: center;
        font-size: 19px;
        padding: 10px 0;
        height: 2em;
    }



    //
}

//final de footer