* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color-azul: #2B2B3E;
$color-amarillo: #E49E48;
$color-cielo: #00ABE3;



.menu {
    padding: 15px 0;
    background: $color-azul;



    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: space-between;
            align-items: flex-end;
        
        button{
            margin: 6em;
            align-items: center;
        }

        li {
            align-items: center;
            margin-right: 20px;
            
            
            img{
                height: 8em;
            }
            
            a {
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: #00fff7;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    body {
        background-color: red($color: #ab2c2c);
    }
}